<footer class="footer">
  <div class="container">
    <%= form_for Gist.new do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :url %>
    <%= f.text_field :url %>
    <%= f.submit disabled: false %>
    <% end %>
  </div>
</footer>
